html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  //font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: $violet;
  background-image: url("/dist/images/bg-mobile.svg");
  height: 373px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @include breakpoint-up(large) {
    background-image: url("/dist/images/bg-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
  }
}