@import "variables";
@import "mixins";
@import "globals";

@import "header";
@import "img";
@import "footer";

.hero {
    padding: 40px;
    color: white;
    text-align: center;

    @include breakpoint-up(large) {
        padding: 0;
        text-align: left;
        margin-left: 60px;
    }

    h1 {
        font-size: 23px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        line-height: 0.8;

        @include breakpoint-up(large) {
            font-size: 38px;
            padding-top: 50px;

            p {
                margin: 0;
                padding-bottom: 32px;
            }

        }
    }

    &__text {
        font-size: 15px;
        line-height: 1.5;

        @include breakpoint-up(large) {
            font-size: 18px;
            margin: 0;
        }

    }

    button {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 12px;
        padding: 12px 80px;
        color: $violet;
        background-color: white;
        border: none;
        border-radius: 27px;
        transition: all 150ms ease-in-out;

        @include breakpoint-up(large) {
            font-size: 20px;
            padding: 20px 70px;
            border-radius: 30px;
            margin-top: 30px;
        }

        &:hover {
            color: white;
            background-color: $softMagenta;
        }
    }
}

.container {
    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 100px 80px;
    }
}